*{
    list-style:none;
    padding:0;
    }
    .skills li{
        margin:20px 0;
    }
    .skills{
       color: white;
    }
    .bar{
        background: #353b48;
        display:block;
        height:5px;
        width:60vw;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius:3px;
        overflow:hidden;
        box-shadow: 0 0 10px #2187e7b3;
    }
    .bar span{
        height: 5px;
        float:left;
        background:#2187e7;
    }
    #html{
        width:85%;
        animation-name: html;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes html{
        0%{width: 0% }
        100%{width: 85% }
    }
    #boot{
        width:60%;
        animation-name: boot;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes boot{
        0%{width: 0% }
        100%{width: 60% }
    }
    #js{
        width:75%;
        animation-name: js;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes js{
        0%{width: 0% }
        100%{width:75% }
    }
    #ang{
        width:30%;
        animation-name: ang;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes ang{
        0%{width: 0% }
        100%{width: 30% }
    }
    #react{
        width:30%;
        animation-name: react;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes react{
        0%{width: 0% }
        100%{width: 30% }
    }
    #mongo{
        width:70%;
        animation-name:mongo;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes mongo{
        0%{width: 0% }
        100%{width:70% }
    }
    #mysql{
        width:70%;
        animation-name: mysql;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes mysql{
        0%{width: 0% }
        100%{width: 70% }
    }
    #node{
        width:70%;
        animation-name: node;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes node{
        0%{width: 0% }
        100%{width: 70% }
    }
    #python{
        width:65%;
        animation-name:python;
        animation-delay: 1s;
        animation-duration:  3s;
    }
    @keyframes python{
        0%{width: 0% }
        100%{width: 65% }
    }

    
    #Aboutme {padding-top:80px; background-image:url("./images/we.jpg"); background-position: center bottom;background-size: cover; background-repeat: no-repeat;}
    #Skills {padding-top:100px; background-color: #333;}
    #Projects {padding-top: 70px;background-image:url("./images/121.jpg"); background-position: center bottom ; background-repeat: no-repeat;background-size: cover;}
    #Blogs {padding-top: 50px;padding-bottom: 55px; background-image:url("./images/slider2.jpg"); background-position: center bottom;background-size: cover; background-repeat: no-repeat; }
   
  #dev{
    transform: rotate(0deg);
    transform-origin: bottom left;
    animation-name: dev;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes dev{
    0%{ transform: rotate(0deg);
    transform-origin: bottom left;}
    50%{ transform: rotate(-3deg);
    transform-origin: bottom left;}
    100%{ transform: rotate(0deg);
    transform-origin: bottom left;}
  }

  #Home{
    background-image: url("./images/11.jpg");
    width: 100%;
    padding-top:130px;
    background-position: center bottom;background-size: cover; background-repeat: no-repeat; 
  }
